<p>
<%= "Description: #{training.description}" %>
</p>
<p>
<%= "Room: #{training.simroom}" %>
</p>
<p>
<%= "Date: #{training.date}" %>
</p>
<p>
Equipment: <%= link_to training.equipment.name, equipment_reports_path(training.equipment) %>
</p>
<p>
<%= "Created by: #{training.user.email}" %>
</p>