<p>
    <%= f.label :description %>
    <%= f.text_area :description %>
</p>
<p>
    <%= f.label :room %>
    <%= f.text_field :simroom %>
</p>
<p>
    <%= f.label :training_date %>
    <%= f.date_field :date, :min => Date.today %>
</p>
<p>
    <%= f.label :equipment %>
    <%= f.collection_select(:equipment_id, Equipment.all, :id, :name) %>
</p>