

<h3> Currently Scheduled and Past Trainings </h3>
<%= link_to "See Only Upcoming Trainings", '/trainings/upcoming' %>
<%= link_to "See Only Past Trainings", '/trainings/past' %><br><br>
<%= link_to "Back to Dashboard", user_path(current_user), :id => "current_user" %>
<%= link_to "Schedule New Training", new_training_path, :class => "new_training", "data-turbolinks" => "false" %>
<div class= "training_form"></div>
<%= render :partial => "list", :locals => {:trainings => @trainings} %>


<script id="training-index-template" type="text/x-handlebars-template">
    <fieldset>
        <legend> <a data-turbolinks="false" class="show_link" href="/trainings/{{id}}">{{name}}</a> </legend>

        <p> Description: {{description}} </p>
        <p> Room: {{simroom}} </p>
        <p> Date: {{date}} </p>
        <p> Equipment: <a href="/equipment/{{equipment.id}}/reports">{{equipment.name}}</a> </p>
        <p> Created by: {{user.email}} </p>

    </fieldset>
</script>

<script id="training-show-template" type="text/x-handlebars-template">
    <fieldset>
        <legend> {{name}} </legend>

        <p> Description: {{description}} </p>
        <p> Room: {{simroom}} </p>
        <p> Date: {{date}} </p>
        <p> Equipment: <a href="/equipment/{{equipment.id}}/reports">{{equipment.name}}</a> </p>
        <p> Created by: {{user.email}} </p>

    </fieldset>

    <a href="/trainings">Back To Trainings</a>
    <a href="/users/{{user.id}}" id="current_user">Back To Dashboard</a><br>

    <button class="next-training" data-id={{id}}>Next Training</button>
    <!-- WE NEED A WAY TO STORE THE EQUALITY OF CURRENT USER AND CURRENT TRAINING USER TO PASS TO THE TEMPALTE IF STATEMENT -->
    {{#if false}}
        <form class="button_to" method="get" action="/trainings/{{id}}/edit">
        <input class="back_to_trainings" value="Edit Training" type="submit"></form></p>
    {{/if}}
    <%= admin_edit_button %>
    <%= admin_cancel_button %>
</script>