<h3> Equipment </h3>

<%= link_to "Back to Dashboard", root_path %>
<%= link_to "Add New Equipment", new_equipment_path %>

<% @equipment_index.each do |equipment| %>

    <fieldset>
    <p>
    <legend> <%= equipment.name %> </legend>
    </p>
    <p>
    <%= link_to "#{equipment.reports.count} Reports", equipment_reports_path(equipment), :class => "load_reports" %>
    <%= link_to "List Reports by Content", equipment_path(equipment), :class => "order_reports" %>
    </p>
    </fieldset>

    <div class="reports-<%=equipment.id%>"></div>

<% end %>